*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    overflow: auto;
}

.front{
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: -webkit-linear-gradient(-10deg, rgb(215, 215, 215) 47.5%, black 47.5%);
}

nav{
    right: 2.3%;
    position: absolute;
}
nav li{
    display: inline;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
}

nav a{
    text-decoration: none;
    margin: 20px;
}
nav ul{
    margin-top: 8%;
}

#contact-nav{
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    font-size: 0.9em;
}

/* #contact-nav:hover{
    display: none;
    transform: scale(1.5);
} */

.details{
    position: absolute;
    top: 35%;
    left: 8%;
}

.details h1{

    font-size: 7em;
    font-family: Arial, Helvetica, sans-serif;
}
.details h3{

    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.details h4{

    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    position: relative;
    top: 4px;
}

.icons{

    position: absolute;
    top: 75%;
    left: 8%;
}

.icons img{
    width: 50px;
    margin: 20px;
    background-color: rgb(196, 196, 196);
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 5px 5px 2px rgb(163, 163, 163);
}

.icons a img:hover{
    transform: scale(1.1);
    transition: ease-out;
}

.image img{
    position: absolute;
    right: 5%;
    top: 20%;
    height: 80%;
}

.main{
    background-color: rgb(216, 216, 216);
    min-height: 100vh;
}

.quote{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
                 rgb(216, 216, 216);
    min-height: 250px;
    color: rgb(216, 216, 216);
    font-size: 1.5em;
    align-items: center;  
    display: flex;
}

.quote q{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.main>div h2{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 6px solid black;
    align-items: center;
    padding: 20px 60px;
    letter-spacing: 10px;
    font-weight: light;
    margin-top: 100px;
    box-shadow: 2px 2px 5px rgb(83, 83, 83);
    margin-bottom: 100px;
    background-color: rgb(216, 216, 216);
}

.main>div{
    text-align: center;
}

.about #self{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
    width: 60%;
    margin-left: 20%;
}

.aboutdiv{
    height: 30%;
    width: 30%;
    margin: 100px 150px  80px 100px;
    display: inline-block;
}

.aboutdiv h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 20px 10px 20px 10px;
}

.aboutdiv p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: lighter;
}

.skills{
    padding-bottom: 50px;
}

.skill-container img{
    width: 30%;
    margin-top: 40px;
    margin-bottom: 10px;
}

.skill-container{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
}

.progress-container {
    margin-left: 30%;
    width: 40%;
    max-height: 0%;
    background-color: grey/*#5b5858*/;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
}

.progress-bar {
    height: 10px;
    background-color: black/*rgb(225, 19, 225)*/;
  }

.projects{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
                url('images/background1.jpg');
    background-size: cover;
    background-position: center;
}

.project-container{
    display: inline-block;
    width: 25%;
    border: 5px solid white;
    border-radius: 15px;
    margin: 2% 4% 2% 4%;
    padding: 30px 50px 30px 50px;
    background-color: rgb(198, 196, 196);
    box-shadow: 5px 5px 5px rgb(83, 83, 83);
    margin-bottom: 100px;
}



.project-container h1{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.project-container p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

#up-arrow {
    width: 30px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

::selection{
    color: rgb(216, 216, 216);
    background-color: black;
}